/* Men.css */
.men-container {
  text-align: center;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-item {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.product-item img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-name {
  font-weight: bold;
  font-weight: bold;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for overflow */
}

.slick-prev:before, .slick-next:before{
  color: black !important;
}

.slick-initialized .slick-slide {
  display: block;
  padding: 0 10px;
}

.product-price {
  color: #666;
}
